{%extends 'navbar.html'%}
{%load static%}
{% block content%}
<style>
  *, *::before, *::after{
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  color:#222;
  font-family: system-ui, sans-serif;
  padding-bottom: 50px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.hero{
  background-image: url('{%static 'images/image1.jpg'%}');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom-center;
  height:100vh;
  color:#fff;
  display: flex;
  align-items:center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.hero::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero h1{
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p{
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2, .content h3{
  font-size: 150%;
  margin: 20px 0;
}

.content p {
  color: #555;
  line-height: 1.6;
  letter-spacing: 1px;
}

</style>

<div class="hero">
  <div class="container">
    <h1>Welcome to our website</h1>
    <p>Discover the magic of cinema, one recommendation at a time.</p>
  </div>
</div>
{%endblock%}


